<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
  <Appenders>
    <Console name="appender-console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="sandbox.Main" level="debug" additivity="false">
      <AppenderRef ref="appender-console"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="appender-console"/>
    </Root>
  </Loggers>
</Configuration>
